.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.me-2 {
  margin-inline-end: 8px;
}

.me-3 {
  margin-inline-end: 16px;
}